 body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;   
            min-height: 100vh;      
            margin: 0;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        
        #personagem {
            cursor: pointer; 
            width: 200px;
            height: 200px;
            margin-bottom: 20px;
        }

        #mensagem {
            font-size: 1.2em;
            font-weight: bold;

        }
