   body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
        #mensagemTempo {
            font-size: 1.8em;
            font-weight: bold;
            color: #333;
            text-align: center;
        }